.active {
  color: green;
}

.table {
  border: solid black;
}

.footer a {
  padding-left: 8px;
  padding-right: 8px;
}

.footer a.active {
  font-weight: bold;
}

.App-header {
  text-align: center;
}

.error {
  color: red;
}
