.navbar {
  text-align: center;
}

.footer a {
  padding-left: 0;
  padding-right: 15px;
  padding-left: 2px;
}

.footer a.active {
  font-weight: bold;
}

div.footer {
  padding-top: 20px;
}

.App-header {
  text-align: center;
}

.fetch-msg {
  font-weight: bold;
  color: red;
}

.card-block {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-right: 10px;
}

.text-muted {
  padding-left: 10px;
  padding-right: 10px;
}
