body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.unsplash.com/photo-1500835176302-48dbd01f6437?auto=format&fit=crop&w=1978&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')
}
